body {
    font-family: 'Segoe UI', Calibri, Arial;
    margin:0;
    background-color: black;
    /* background-image: url("../img/bd/orangebg.jpg");
    background-repeat: no-repeat;
    background-size: cover; */

}
#levelPanel{
    display: none;
}
.header{
    width: 100%;
    background-color: black;
    color: orange;
    /* padding: 50px 20px; */
}
h2{
    font-weight:normal;
    text-align:center;
    /* background-color: black; */
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
    display: none;
}
.gameOver span{
    font-size: 16px;
    color: black;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }